* {
    color: white;
}

body{
    padding: 20;
    margin: 20;
    background: linear-gradient(to right, #0f5f87,#3c9662);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1{
    display: grid;
    justify-content: center;
    align-content: center;
}

#org_det{
    padding: 30px;
    padding-top: 5px;
    margin-left: 5px;
    background: rgba(224, 222, 231, 0.7);
    border-radius: 5px;
    margin-bottom: 20px;
}

#event_det{
    padding: 30px;
    padding-top: 5px;
    margin-left: 5px;
    background: rgba(152, 218, 178, 0.6);
    border-radius: 5px;   
    margin-bottom: 20px;
}

.modal{
    color: black;
    
}

.buttonMod{
    margin: 1rem 0 0 31%;
    width: 47%;
    background-color: blueviolet;
    color: #ffa260;
    border: 2px solid;
    padding: 0.5em 1em;
    font-size: 1em;
    transition: color 0.25s,border-color 0.25s,box-shadow 0.25s,transform 0.25s;
}

.buttonMod:hover{
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c; /*0 for x offset 0.5 for y offset
    0.5 for blur -0.4 for spread radius */
    transform: translateY(-0.25em);
    cursor: pointer;
}

.btn-dark{
    margin-left: 43%;
    margin-bottom: 20px;
    display: flex;
    justify-items: center;
}

#cards {
    display: flex;
    justify-content: space-between;
}

.btn-secondary {
    background-color: #0f85c0;
    padding: 14px 16px;
}

.card-title {
    color: black;
}

.card:hover {
    transform: scale(1.1);
}