<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHAW'rganizer | Organizer</title>
    <link rel="icon" href="./organizer-icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./addEve.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Organizer</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Events</span>
                        </a>
                    </li> -->

                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered" style="margin-left: 32rem;">
                        <div class="modal-content" style="width: 65%;">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Events</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <button type="button" class="btn btn-primary buttonMod" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          + Add Event
                        </button>
                        <button type="button" class="btn btn-primary buttonMod" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          Manage Event
                        </button>
                        <button type="button" class="btn btn-primary buttonMod" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          View Event
                        </button>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered" style="margin-right: 32rem;">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Hide this modal and show the first with the button below.
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="btn btn-secondary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Events</a>


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  <form action="/newEvent" method="post">
                                      <div id="org_det">
                                          <h1>Organizer's Details</h1>
                                          <label for="nameOrg">Name of Organizer/Organization: </label>
                                          <input type="text" name="nameOrg" id="nameOrg" style="width: 100%;"><br><br>
                              
                                          <label for="aadhar">Aadhar card number: </label>
                                          <input type="number" name="aadhar" id="aadhar" style="width: 100%;"><br><br>
                              
                                          <label for="phone">Phone number: </label>
                                          <input type="number" name="phone" id="phone" style="width: 100%;"><br><br>
                              
                                          <label for="email">Email: </label>
                                          <input type="email" name="email" id="email" style="width: 100%;">
                                      </div>
                                      
                                      <div id="event_det">
                                          <h1>Event Details</h1>
                                          <label for="eventName">Name of the event: </label>
                                          <input type="text" name="eventName" id="eventName" style="width: 100%;"><br><br>
                              
                                          <label for="category">Category of event: </label>
                                          <select name="category" id="category" size="1">
                                              <option value="Technical">Technical</option>
                                              <option value="Social">Social</option>
                                              <option value="Cultural">Cultural</option>
                                              <option value="Other">Other</option>
                                          </select><br><br>
                              
                                          <label for="desc">Event description: </label><br><br>
                                          <textarea name="desc" id="desc" cols="30" rows="5" placeholder="In the event, we will have ... " style="width: 100%;"></textarea><br><br>
                                          
                                          <label>Venue of the event: </label><br>
                                          <label for="location">City, State: </label>
                                          <input type="text" name="location" id="location" placeholder="mumbai,maharashtra" style="width: 100%;"><br>
                                          <label for="landmark">Location: </label>
                                          <input type="text" name="landmark" id="landmark" placeholder="landmark" style="width: 100%;"><br><br> 
                              
                                          <label for="ticket">Ticket price: </label>
                                          <input type="number" name="ticket" id="ticket" style="width: 30%;"><br><br>
                              
                                          <label for="datetime">Date and Time of the event: </label>
                                          <input type="datetime-local" name="datetime" id="datetime"><br>
                                          <label for="duration">Duration of event (in hrs): </label>
                                          <input type="number" name="duration" id="duration" style="width: 30%;">
                                      </div>
                                      <button type="submit" class="btn btn-dark">Submit</button>
                                  </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    <!-- Modal -->
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
          <!-- DATA CARDS -->
      <div id="cards">
        <div class="events-count">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><img id="user-icon" src="./calender.png" alt="oops" width="25" height="20"> Events</h5>
                  <h2 class="card-subtitle mb-2 text-muted">3</h2>
                </div>
              </div>
        </div>
        <div class="tickets-count">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><img id="user-icon" src="./ticket-icon.png" alt="oops" width="20" height="20"> Tickets sold</h5>
                <h2 class="card-subtitle mb-2 text-muted">250</h2>
                
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a> -->
              </div>
            </div>
        </div>
        <div class="tot-rev">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><img id="user-icon" src="./dollar-icon.png" alt="oops" width="25" height="20"> Total revenue</h5>
                <h2 class="card-subtitle mb-2 text-muted">$ 40,000</h2>
              </div>
            </div>
          </div>
        </div><br><br><br><br><br><br>
        <div id="earn-table">
          <caption><h1>Earnings per Event</h1></caption>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Event Name</th>
                <th scope="col">Event Location</th>
                <th scope="col">Ticket price</th>
                <th scope="col">Tickets sold</th>
                <th scope="col">Total profit</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Unscript 2k22</td>
                <td>CRCE college</td>
                <td>150</td>
                <td>180</td>
                <td>25,000</td>
                <td>COMPLETED</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Cresendo 2k22</td>
                <td>CRCE college</td>
                <td>50</td>
                <td>500</td>
                <td>-</td>
                <td>ONGOING</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Synergy 2k22</td>
                <td>CRCE college</td>
                <td>50</td>
                <td>150</td>
                <td>-</td>
                <td>UPCOMING</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>