<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="/Hackathon/media/logo_short.png"
      type="image/x-icon"
    />
    <title>Sign In / Up</title>
    <link rel="stylesheet" href="../styles/login.css">
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/Hackathon/Server/request.js"></script>
  <script>
    $(document).ready(function () {
      document.querySelector(".img-btn").addEventListener("click", function () {
        document.querySelector(".cont").classList.toggle("s-signup");
      });
    });
  </script>
  <body>
    <div class="cont">
      <form id="signinForm">
        <div class="form sign-in">
          <h2>Sign In</h2>
          <label>
            <span>Username</span>
            <input type="username" name="username" />
          </label>
          <label>
            <span>Password</span>
            <input type="password" name="password" />
          </label>
          <button type="submit" class="submit">Sign In</button>
          <p class="forgot-pass">Forgot Password ?</p>
        </div>
      </form>

      <form id="signupForm" method="POST" action="/login">
        <div class="sub-cont">
          <div class="img">
            <div class="img-text m-up">
              <h2>New here?</h2>
              <p>Sign up and discover great amount of new opportunities!</p>
            </div>
            <div class="img-text m-in">
              <h2>One of us?</h2>
              <p>
                If you already has an account, just sign in. We've missed you!
              </p>
            </div>
            <div class="img-btn">
              <span class="m-up">Sign Up</span>
              <span class="m-in">Sign In</span>
            </div>
          </div>
          <div class="form sign-up">
            <h2>Sign Up</h2>
            <label>
              <span>Username</span>
              <input type="text" name="username" />
            </label>
            <label>
              <span>Email</span>
              <input type="email" name="email" />
            </label>
            <label>
              <span>Password</span>
              <input type="password" name="password" />
            </label>
            <label>
              <span>Confirm Password</span>
              <input type="password" name="cpass" />
            </label>
            <button type="submit" class="submit">Sign Up Now</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
