/* Navbar */
.w3-bar .w3-button {
  padding: 16px;
}

.w3-bar-item img{
  width: 19%;
}

.w3-animate-right{
  animation: animateright 1s;
}

@media  screen and (min-width: 601px) {
  #mySidebar{
  display: none!important;
}
}


