#cards{
    display: flex;
    /* align-content: flex-end; */
    float: right;
    flex-direction: row;
    border-radius: 10px;
}

.card{
    margin: 2em;
    background: linear-gradient(to bottom, #c4539a,#94b1df);
}

.table{
    text-align: center;
    border: 2px solid grey;
    width: 60%;
}

.card-subtitle{
    color: rgb(47, 118, 65) !important;
}

th{
    background-color: darkgray !important;
}
